<html>
    <h1>
    Welcome to MiYE
    </h1>

    <h1>Hello {{ name }}</h1>

    <body>

        Welcome to “Mud in Your Eye” (MiYE)

        Services
        Services mineral baths:                                                                    60 / 90 min @$2.50/min
        massages (swedish, shiatsu, or deep tissue) :                                              30/ 60 min @ $3.00/mi.
        facials (normal or collagen):                                                              30/ 60 min @ $2.00/min
        specialty treatments (hot stone, sugar scrub, herbal body wrap, or botanical mud wrap) :   60/90 min @ $3.50/min.
        Charges include: rooms, food, and miscellaneous items aside from services.
        
        Hours of Operation 
        M-S  from 8 am to 8 pm *services end at 8pm
        
        Reservation
        Services can only be scheduled during the guest’s stay—no reservations for future stays are allowed.
        
        Cancellation Policy
        10 minutes of making the reservation or at least 90 minutes before the reservation time
        
        Thank you!
        
        {% for i in db %}
        <p>{{i.guest}}</p>
        <p>{{i.service}}</p>
        <p>{{i.location}}</p>
        <p>{{i.timing}}</p>
        <p>{{i.t_service}}</p>
        <p>{{i.room}}</p>
        <p>{{i.city}}</p>
        {% endfor %}
    </body>
</html>


